<footer class="page-footer">
    <div class="container">
        <div class="page-footer__top-row">
            <div class="page-footer__left-col">
                <a href="/" class="page-footer__logo">

                    <svg width="14" height="14" aria-hidden="true" class="icon-logo page-footer__logo-image">
                        <use xlink:href="#logo"></use>
                    </svg>

                </a>
                <div class="page-footer__address">
                    г. Казань, ул. Профсоюзная 34, офис 5
                </div>
            </div>
            <div class="page-footer__right-col">
                <div class="page-footer__contacts">
                    <a href="tel:+7(843)212—6103" class="page-footer__contacts-link">
                        <svg width="14" height="14" aria-hidden="true" class="icon-phone">
                            <use xlink:href="#phone"></use>
                        </svg>
                        +7 (843) 212—6103
                    </a>
                    <a href="mailto:inbox@gilmark.ru" class="page-footer__contacts-link">
                        <svg width="14" height="14" aria-hidden="true" class="icon-mail">
                            <use xlink:href="#mail"></use>
                        </svg>
                        inbox@gilmark.ru
                    </a>
                </div>
            </div>
        </div>
        <div class="page-footer__bottom-row">
            <div class="page-footer__left-col">
                <div class="page-footer__links">
                    <a href="#" class="page-footer__link">
                        карта партнера
                    </a>
                    <a href="#" class="page-footer__link">
                        политика конфиденциальности
                    </a>
                    <a href="#" class="page-footer__link">
                        КАРТА САЙТА
                    </a>
                </div>
            </div>
            <div class="page-footer__right-col">
                <div class="page-footer__copyright">
                    © 2008—2022
                </div>
                <a href="#" class="page-footer__bot">
                    <svg width="14" height="14" aria-hidden="true" class="icon-telegram">
                        <use xlink:href="#telegram"></use>
                    </svg>
                    @gilmark_bot
                </a>
            </div>
        </div>
    </div>
</footer>