{{#extend "layout"}}
    {{#content "main"}}


        <section class="rating">
            <div class="container">
                <div class="rating__content">
                    <ul class="rating__list">
                        <li class="rating__list-item">
                            <a href="#" class="rating__card">
                                <div class="rating__card-label" data-label-text="топ">топ</div>
                                <div class="rating__card-place">
                                    <div class="rating__card-place-shape">
                                        <span></span>
                                        <span></span>
                                        <span></span>
                                    </div>
                                    30
                                </div>
                                <h4 class="rating__card-title" data-text="рейтинг digital-подрядчиков
                                    госструктур">
                                    рейтинг digital-подрядчиков
                                    госструктур
                                </h4>

                                <div class="rating__card-arrow">
                                    <svg width="14" height="14" aria-hidden="true" class="icon-arrow-right">
                                        <use xlink:href="#arrow-right"></use>
                                    </svg>
                                    <svg width="14" height="14" aria-hidden="true" class="icon-arrow-right-gradient">
                                        <use xlink:href="#arrow-right-gradient"></use>
                                    </svg>
                                </div>
                            </a>
                        </li>
                        <li class="rating__list-item">
                            <a href="#" class="rating__card">
                                <div class="rating__card-label" data-label-text="место">место</div>
                                <div class="rating__card-place">
                                    <div class="rating__card-place-shape">
                                        <span></span>
                                        <span></span>
                                        <span></span>
                                    </div>
                                    1
                                </div>
                                <h4 class="rating__card-title" data-text="рейтинг агентств
                                    таргетированной рекламы">
                                    рейтинг агентств
                                    таргетированной рекламы
                                </h4>
                                <div class="rating__card-city">
                                    Казань
                                </div>
                                <div class="rating__card-arrow">
                                    <svg width="14" height="14" aria-hidden="true" class="icon-arrow-right">
                                        <use xlink:href="#arrow-right"></use>
                                    </svg>
                                    <svg width="14" height="14" aria-hidden="true" class="icon-arrow-right-gradient">
                                        <use xlink:href="#arrow-right-gradient"></use>
                                    </svg>
                                </div>
                            </a>
                        </li>
                        <li class="rating__list-item">
                            <a href="#" class="rating__card">
                                <div class="rating__card-label" data-label-text="место">место</div>
                                <div class="rating__card-place">
                                    <div class="rating__card-place-shape">
                                        <span></span>
                                        <span></span>
                                        <span></span>
                                    </div>
                                    3
                                </div>
                                <h4 class="rating__card-title" data-text="рейтинг digital-подрядчиков
                                    госструктур">
                                    рейтинг digital-подрядчиков
                                    госструктур
                                </h4>
                                <div class="rating__card-city">
                                    Маркетинг
                                </div>
                                <div class="rating__card-arrow">
                                    <svg width="14" height="14" aria-hidden="true" class="icon-arrow-right">
                                        <use xlink:href="#arrow-right"></use>
                                    </svg>
                                    <svg width="14" height="14" aria-hidden="true" class="icon-arrow-right-gradient">
                                        <use xlink:href="#arrow-right-gradient"></use>
                                    </svg>
                                </div>
                            </a>
                        </li>
                        <li class="rating__list-item">
                            <a href="#" class="rating__card">
                                <div class="rating__card-label" data-label-text="место">место</div>
                                <div class="rating__card-place">
                                    <div class="rating__card-place-shape">
                                        <span></span>
                                        <span></span>
                                        <span></span>
                                    </div>
                                    2
                                </div>
                                <h4 class="rating__card-title" data-text="рейтинг агентств
                                    контекстной рекламы">
                                    рейтинг агентств
                                    контекстной рекламы
                                </h4>
                                <div class="rating__card-city">
                                    Обучение
                                </div>
                                <div class="rating__card-arrow">
                                    <svg width="14" height="14" aria-hidden="true" class="icon-arrow-right">
                                        <use xlink:href="#arrow-right"></use>
                                    </svg>
                                    <svg width="14" height="14" aria-hidden="true" class="icon-arrow-right-gradient">
                                        <use xlink:href="#arrow-right-gradient"></use>
                                    </svg>
                                </div>
                            </a>
                        </li>
                        <li class="rating__list-item">
                            <a href="#" class="rating__card">
                                <div class="rating__card-label" data-label-text="место">место</div>
                                <div class="rating__card-place">
                                    <div class="rating__card-place-shape">
                                        <span></span>
                                        <span></span>
                                        <span></span>
                                    </div>
                                    3
                                </div>
                                <h4 class="rating__card-title" data-text="рейтинг digital-подрядчиков
                                    госструктур">
                                    рейтинг digital-подрядчиков
                                    госструктур
                                </h4>
                                <div class="rating__card-city">
                                    Таргетированная реклама
                                </div>
                                <div class="rating__card-arrow">
                                    <svg width="14" height="14" aria-hidden="true" class="icon-arrow-right">
                                        <use xlink:href="#arrow-right"></use>
                                    </svg>
                                    <svg width="14" height="14" aria-hidden="true" class="icon-arrow-right-gradient">
                                        <use xlink:href="#arrow-right-gradient"></use>
                                    </svg>
                                </div>
                            </a>
                        </li>
                    </ul>
                    <a href="#" class="rating__load-more">
                        все
                    </a>
                </div>
            </div>
        </section>
        <section class="marketing">
            <div class="container">
                <div class="marketing__content">
                    <div class="marketing__certificates">
                        <h3 class="marketing__certificates-heading">
                            сертификации агентства
                        </h3>
                        <ul class="marketing__certificates-list">
                            <li class="marketing__certificates-list-item">
                                <a href="#" class="marketing__certificates-link" data-text=" ARDA">
                                    ARDA
                                </a>
                            </li>
                            <li class="marketing__certificates-list-item">
                                <a href="#" class="marketing__certificates-link" data-text=" MYTARGET">
                                    MYTARGET
                                </a>
                            </li>
                            <li class="marketing__certificates-list-item">
                                <a href="#" class="marketing__certificates-link" data-text="ВКОНТАКТЕ">
                                    ВКОНТАКТЕ
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="marketing__top-row">
                        <h2 class="marketing__heading">
                            Маркетинг и
                            it—решения
                            для гос. компаний и бизнеса
                        </h2>
                        <div class="marketing__practice">
                            <div class="marketing__practice-top-text">
                                более
                            </div>
                            <div class="marketing__practice-amount">
                                10
                            </div>
                            <div class="marketing__practice-bottom-text">
                                лет<br>
                                практики
                            </div>
                        </div>
                    </div>
                    <div class="marketing__card">
                        <img src="img/marketing-bg.svg" alt="" class="marketing__card-image">
                        <div class="marketing__card-text">
                            <p>
                                Слышим клиентов/
                                Планируем работы и KPI/
                                Успешно завершаем проекты/
                            </p>
                        </div>
                        <a href="#" class="marketing__card-link">
                            подробнее
                        </a>
                        <div class="marketing__card-bottom-links">
                            <a href="#" class="marketing__card-bottom-link">
                                благодарственные письма
                            </a>
                            <a href="#" class="marketing__card-bottom-link">
                                оценка надежности компании
                            </a>
                        </div>
                    </div>
                    <div class="marketing__partners">
                        <ul class="marketing__partners-list">
                            <li class="marketing__partners-list-item">
                                <div class="marketing__partners-card js-partners-card">
                                    <img src="img/partners/1.svg" alt="" class="marketing__partners-card-image">
                                    <img src="img/partners/1.png" alt="" class="marketing__partners-card-image">
                                    <div class="marketing__partners-card-content">
                                        рекламировали
                                        приложение и новые услуги.<br>
                                        Таргетинг, контекст и
                                        hr-реклама.<br>
                                        Рисовали рекламные
                                        баннеры с иллюстрациями.
                                    </div>
                                </div>
                            </li>
                            <li class="marketing__partners-list-item">
                                <div class="marketing__partners-card js-partners-card">
                                    <img src="img/partners/2.svg" alt="" class="marketing__partners-card-image">
                                    <div class="marketing__partners-card-content">
                                        рекламировали
                                        приложение и новые услуги.<br>
                                        Таргетинг, контекст и
                                        hr-реклама.<br>
                                        Рисовали рекламные
                                        баннеры с иллюстрациями.
                                    </div>
                                </div>
                            </li>
                            <li class="marketing__partners-list-item">
                                <div class="marketing__partners-card js-partners-card">
                                    <img src="img/partners/3.svg" alt="" class="marketing__partners-card-image">
                                    <div class="marketing__partners-card-content">
                                        рекламировали
                                        приложение и новые услуги.<br>
                                        Таргетинг, контекст и
                                        hr-реклама.<br>
                                        Рисовали рекламные
                                        баннеры с иллюстрациями.
                                    </div>
                                </div>
                            </li>
                            <li class="marketing__partners-list-item">
                                <div class="marketing__partners-card js-partners-card">
                                    <img src="img/partners/4.svg" alt="" class="marketing__partners-card-image">
                                    <div class="marketing__partners-card-content">
                                        рекламировали
                                        приложение и новые услуги.<br>
                                        Таргетинг, контекст и
                                        hr-реклама.<br>
                                        Рисовали рекламные
                                        баннеры с иллюстрациями.
                                    </div>
                                </div>
                            </li>
                            <li class="marketing__partners-list-item">
                                <div class="marketing__partners-card js-partners-card">
                                    <img src="img/partners/5.svg" alt="" class="marketing__partners-card-image">
                                    <div class="marketing__partners-card-content">
                                        рекламировали
                                        приложение и новые услуги.<br>
                                        Таргетинг, контекст и
                                        hr-реклама.<br>
                                        Рисовали рекламные
                                        баннеры с иллюстрациями.
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <section class="calculate">

            <div class="container">
                <div class="calculate__content">


                    <img src="img/calculate-satellite.svg" alt="" class="calculate__image">
                    <h2 class="calculate__heading">
                        рассчитаем смету
                    </h2>
                    <form action="/" method="POST" class="calculate__form" data-need-validation="">
                        <div class="calculate__form-policy">
                            Нажимая кнопку «Отправить» вы соглашаетесь на обработку персональных данных согласно нашей
                            <a href="#">политике конфиденциальности</a>
                        </div>
                        <div class="calculate__form-row">
                            <div class="calculate__form-fields">
                                <div class="calculate__form-field">
                                    <input type="text" class="calculate__form-input" placeholder="имя *" required=""
                                        name="name">
                                </div>
                                <div class="calculate__form-field">
                                    <input type="tel" class="calculate__form-input js-phone-input"
                                        placeholder="8(927) 030-6194 *" required="" name="phone" data-parsley-phone="">
                                </div>
                                <div class="calculate__form-field">
                                    <input type="text" class="calculate__form-input" placeholder="сайт" name="site">
                                </div>
                            </div>
                            <button class="calculate__form-submit" type="submit">
                                отправить
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </section>


    {{/content}}
{{/extend}}